extends layout

block layout-content
    div.View
        div.Login
            h1 Login
            form(action = "/auth/login" method= "POST" enctype="multipart/form-data")

                label(for="email") Email 
                input(type="text" name="email")
                label(for="password") Password 
                input(type="password" name="password")
                input(type="submit" value="Login")
        div.Register
            h1 Register
            form(action="/auth/register" method="POST" enctype="multipart/form-data")
                label(for="name") Name
                input(type="text" name="name")
                label(for="email") Email 
                input(type="text" name="email")
                label(for="password") Password 
                input(type="password" name="password")
                label(for="passwordConfirm") Confirm Password
                input(type="text" name="passwordConfirm")
                input(type="submit" value="Register")




